<div id="admin-response-body-json"><%= @presenter.response_json %></div>
  <script>
    $(function(){
      (function createEditor(targetId){
        var editor = ace.edit(targetId);
        editor.setTheme("ace/theme/chrome");
        editor.getSession().setMode("ace/mode/javascript");
        editor.getSession().setUseWorker(false);
        editor.setShowPrintMargin(false);
        editor.setReadOnly(true);
        editor.renderer.setShowGutter(false);
      })("admin-response-body-json");
    });
  </script>
