/*
 *= require toggles
 *= require jquery.ui.tabs
*/

@import 'admin/globals/functions';
@import 'admin/globals/mixins';
@import 'admin/globals/variables';

@import 'plugins/font-awesome';

@import 'styles/plugins/parsley';
@import 'styles/plugins/jquery_ui';
@import 'styles/plugins/select2';

.order_events_iframe {
  border: none;
  width: 100%;
  height: 100%;
  min-height: 500px;
  overflow-x:hidden;
  overflow-y:scroll;
}


#endpoint_message_payload_editor {
  height: 400px;
  width: 100%;
  border: 1px solid lightgray;
}

#endpoint_message_parameters_editor {
  width: 100%;
  height: 200px;
  border: 1px solid lightgray;
}

#endpoint_message_payload, #endpoint_message_parameters {
  display: none;
}

#admin-response-body-preview, #admin-response-body-json {
  width: 100%;
  height: 300px;
  max-height: 300px;
  border: 1px solid lightgray;
}

label.large {
  font-size: 90%
}

a.add-fields {
  display: block;
  margin-top: 30px;
  text-align: center;
  font-size: 20px;
}

.admin-response-code-class-success {
  color: #9fc820;
}

.admin-response-code-class-success i {
  color: #FFF;
  background-color: #9fc820;
  font-weight: bold;
  font-style: normal;
  padding: 2px;
  margin: 1px;
}

.admin-response-code-class-client-error, .admin-response-code-class-server-error {
  color: #f57e80;
}

.admin-response-code-class-client-error i, .admin-response-code-class-server-error i {
  color: #FFF;
  background-color: #f57e80;
  font-weight: bold;
  font-style: normal;
  padding: 2px;
  margin: 1px;
}

.admin-response-code-class-other {
  color: #F3AD4E;
}

.admin-response-code-class-other i {
  color: #FFF;
  background-color: #F3AD4E;
  font-weight: bold;
  font-style: normal;
  padding: 2px;
  margin: 1px;
}
#admin-response-headers-container {
  display: none;
}

#admin-response-headers-container dt, #admin-response-headers-container dd {
  height: 32px;
  word-break: break-all;
  word-wrap: break-word;
}

/*---------------------------------------------*/
/* Integrations
/*---------------------------------------------*/

/**
  Basic
*/
#integration_main {
  b, strong {
    -webkit-font-smoothing: antialiased;
  }

  h4.description {
    text-align: center;
    margin-bottom: 20px;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/**
  Connected message
*/
#connected-message {
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  margin: 20px 0;
  color: lighten($color-body-text, 15);

  strong {
    color: $color-2;
  }

  .icon-stack {
    text-align: center;
    width: 80px;
    height: 80px;
    width: 100%;
  }

  i {
    &.icon-light {
      color: white;
      font-size: 40px;
      margin-top: 17px;
    }
    &.icon-circle {
      color: $color-2;
      font-size: 80px;
    }
  }
}

#active-integrations {
  margin-top: 20px;
}

/**
  Active Integrations List
*/
#integrations-list, #stores-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: -20px;

  /**
    Integration
  */
  .store {
    text-align: center;

    .icon-circle {
      color: $color-2;
    }

    .icon-hdd {
      font-size: 60%;
      margin-top: 2px;
      color: $color-2;
    }

    hgroup {
      margin-top: 20px;
      min-height: 55px;
    }

    .store-name {
      font-size: 14px;
      border-bottom: 1px dotted $color-border;

      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    .store-url {
      font-size: 12px;
      font-weight: 400;

      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }


  .integration, .store {
    display: inline-block;
    border: 1px solid $color-border;
    border-radius: $border-radius;
    border-bottom-width: 3px;
    padding: 10px 15px;
    margin-right: 20px;
    margin-bottom: 20px;

    &.disabled {
      figure, figcaption {
        opacity: 0.2
      }
    }

    /**
      Integration Actions
    */
    .actions {
      list-style: none;
      margin: 10px 0 5px;
      padding: 0;
      text-align: center;

      .action {
        display: inline-block;

        a {
          display: inline-block;
          margin: 0 2px;
          width: 28px;
          height: 28px;
          text-align: center;
          background-color: #EFF5FC;
          border: 1px solid #DEEBF8;
          border-radius: 15px;
          cursor: pointer;

          &:hover {
            background-color: $color-2;
            border-color: darken($color-2, 5);

            i {
              color: $color-1;
            }
          }

          &.refresh-integration {
            &:hover {
              background-color: $color-6;
              border-color: darken($color-6, 5);
            }
          }
          &.delete-integration {
            &:hover {
              background-color: $color-5;
              border-color: darken($color-5, 5);
            }
          }
        }

        i {
          color: $color-body-text;
          font-size: 14px;
          padding-top: 6px;
          display: inline-block;
          padding: 3px 7px;
        }
      }
    }
  }

  /**
    Integration Toggle
  */
  .integration-toggle {
    margin: 0 auto 20px;
    width: 100px !important;
  }

  /**
    Integration Image
  */
  figure {
    text-align: center;
  }

  /**
    Integration Title
  */
  figcaption {
    text-align: center;
    text-transform: uppercase;
    color: $color-body-text;
    font-weight: 600;
    display: block;
    margin: 10px 0 20px;
  }
}

/**
  Integration Toggle
*/
.integration-toggle {
  .toggle-slide {
    width: 100px !important;
    background-color: #EFF5FC;
    border: 1px solid #DEEBF8;
    border-radius: 15px;
  }

  .toggle-on, .toggle-off {
    width: 95px !important;
    font-weight: 600;
    font-size: $body-font-size - 2;
    text-transform: uppercase;
    color: $color-body-text;
  }

  .toggle-on {
    text-indent: -90px !important;

    &.active {
      text-indent: -20px !important;
    }
  }

  .toggle-off {
    text-indent: 90px !important;

    &.active {
      margin-left: -60px !important;
      text-indent: 10px !important;
    }
  }

  .toggle-inner {
    width: 200px !important;
    margin-left: -30px !important;
  }

  .toggle-blob {
    background-color: $color-body-text;
    border-radius: 15px;
    width: 18px !important;
    height: 18px !important;
    margin-top: 1px;
    margin-left: -64px !important;
  }

  .toggle-slide.active {
    background-color: $color-2;
    border-color: darken($color-2, 5);

    .toggle-blob {
      margin-left: -17px !important;
      background-color: darken($color-2, 10);
    }
    .toggle-inner {
      margin-left: 0px !important;
    }
    .toggle-on, .toggle-off {
      color: $color-1;
    }
  }
}

/**
  Integration Tooltip
*/
#integration-tooltip {
  position: absolute;
  display: none;
  z-index: 2147483647;
  padding: 5px 15px;
  border-radius: $border-radius;
  background-color: $color-2;
  color: $color-1;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  text-align: center;

  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid $color-2;
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
  }

  &.refresh-integration {
    background-color: $color-6;

    &:after {
      border-top-color: $color-6;
    }
  }
  &.delete-integration {
    background-color: $color-5;

    &:after {
      border-top-color: $color-5;
    }
  }
}

/**
  Simple Modal Styles
*/

#simplemodal-overlay {
  background-color: black;
  width: 100% !important;
}
.simplemodal-data {
  background-color: white;
  border-radius: $border-radius;
}
.simplemodal-close {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 30px;
  cursor: pointer;

  &:hover {
    color: $color-2;
  }
}
.simplemodal-wrap {
  overflow: hidden !important;
}

.modal-body {
  border: 1px solid $color-border;
  border-width: 1px 0 1px 0;
}

#confirm_delete {
  .modal-body {
    padding: 40px
  }
}

.modal-header {
  padding: 20px 10px;

  .integration-image {
    img {
      height: 60px
    }
  }

  .integration-title, .integration-image {
    display: table-cell;
    vertical-align: middle;
    text-transform: uppercase;
    padding-right: 20px;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.integration-modal {
  &.container {
    width: auto;
    position: inherit;
  }

  label {
    display: block;
    color: lighten($color-body-text, 15);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  input[type="text"], input[type="url"],
  input[type="email"], input[type="password"] {
    width: 100%;
  }

  .field {
    padding: 0 0 10px 0;

    &.description {
      p {
        font-style: italic;
        font-size: $body-font-size - 1;
        color: lighten($color-body-text, 5);
      }
    }
    &.state {
      font-size: 100%;
    }
    input[disabled="disabled"] {
      opacity: 0.2;
    }
  }

  fieldset .row {
    margin-bottom: 0;

    .icon-trash {
      font-size: 20px;
      color: $color-body-text;
      position: relative;

      &:hover {
        color: $color-error;
      }
    }
  }

  fieldset.list-value  {
    legend {
      font-weight: 400;

      .title {
        color: $color-body-text;
      }
      .action {
        &, a, i { color: $color-2 }
      }
    }

    .add-new-value {
      text-transform: uppercase;

      &:hover {
        color: darken($color-2, 5);
      }
    }
    .list-value-title {
      font-size: 12px;
      text-transform: uppercase;
      color: $color-body-text;

      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }

  .list-item {
    position: relative;
    margin-bottom: 10px;

    &:hover {
      ul.actions {
        display: block;
      }
    }
  }

  button, .button {
    font-weight: 600;
    font-size: 100%;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  ul.actions {
    position: absolute;
    top: 3px;
    right: 0;
    list-style: none;
    // display: none;

    .action {
      display: inline-block;
      margin-right: 5px;

      a {
        text-transform: uppercase;
        color: $color-2;
        font-weight: 600;
        font-size: 11px;

        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        &:hover {
          color: darken($color-2, 5);
        }
      }

      &:after {
        content: ' / ';
        position: relative;
        display: inline-block;
        margin-left: 5px;
        color: $color-border;
      }

      &:last-child {
        &:after {
          content: ''
        }
      }
    }
  }
}

/**
  New Connection Wizard
*/
#new-connection-wizard {
  .disabled {
    opacity: 0.3
  }

  #integration-url * {
    position: absolute;
    width: 50%;
    left: 25%;
  }

  [data-step="environment"] {
    .row {
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }

  #integration-url [data-env="production"] {
    position: relative;
    left: inherit;
    width: inherit;
  }

  .field {
    text-align: center;

    label {
      font-size: 100%;
      cursor: pointer;

      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    label, .icon-stack {
      display: block;
      text-align: center;
      margin: 0 auto;
    }

    .icon-stack {
      .icon-exchange {
        font-size: 18px;
      }
      .icon-user {
        margin-left: -10px;
      }
      .icon-plus, .icon-ok {
        margin-top: 20px;
        margin-left: 10px;
      }
    }

    label[for='user-new'], label[for='user-registered'] {
      i { font-size: 85% }
    }
    label[for='user-new'] {
      i {
        color: $color-3
      }
    }
    label[for='user-registered'] {
      i {
        color: $color-2
      }
    }
  }

  .env-custom {
    label, .icon-circle, .icon-exchange {
      color: $color-3;
    }
  }
  .env-staging {
    label, .icon-circle, .icon-exchange {
      color: $color-6;
    }
  }
  .env-production {
    label, .icon-circle, .icon-exchange {
      color: $color-2;
    }
  }

  [data-step="user-details"], [data-step="store-details"] {
    input[type="text"], input[type="email"],
    input[type="url"], input[type="password"] {
      width: 100%;
    }
  }

  .form-actions {
    text-align: center;

    * {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    span.or {
      text-transform: uppercase;
      display: inline-block;
      font-weight: 600;
      padding: 0 10px;
    }

    button {
      font-size: 100%;
      min-width: 110px;
    }

    .connect {
      background-color: $color-2;
    }
    .cancel {
      background-color: $color-4;
    }
  }
}


/**
  Parsley
*/
.parsley-error-list {
  color: red;
}
.key-error {
  color: red;
  padding-bottom: 8px;
}

/*Noty*/
#noty_top_layout_container {
  position: fixed !important;
  width: 100% !important;
  left: 0 !important;

  > li {
    border: none !important;
    border-radius: 0  !important;
    background-color: rgba($color-2, 0.8) !important;
    background-image: none !important;
    box-shadow: none !important;
    padding: 10px !important;
  }
  .noty_bar {
    .noty_text {
      color: white;
      font-family: $base-font-family;
      font-size: 18px;

      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: antialiased;
    }
  }
}

/* A class used by the jQuery UI CSS framework for their dialogs. */
.ui-front {
  z-index:1000000 !important;  /* 100 is the default value */
}
