.order_events_iframe {
  border: none;
  width: 100%;
  height: 100%;
  min-height: 500px;
  overflow-x:hidden;
  overflow-y:scroll;
}

#admin_message_payload_editor {
  width: 100%;
  height: 400px;
}

#admin_message_parameters_editor {
  width: 100%;
  height: 200px;
}

#admin_message_payload, #admin_message_parameters {
  display: none;
}

#admin-response-body {
  border: 0px;
  width: 100%;
  height: 200px;
}
