.order_events_iframe {
  border: none;
  width: 100%;
  height: 100%;
  min-height: 500px;
  overflow-x:hidden;
  overflow-y:scroll;
}

#endpoint_message_payload_editor {
  width: 100%;
  height: 400px;
}

#endpoint_message_parameters_editor {
  width: 100%;
  height: 200px;
}

#endpoint_message_payload, #endpoint_message_parameters {
  display: none;
}

#admin-response-body-preview {
  border: 0px;
  width: 100%;
  max-height: 300px;
}

/* Simple modal */
#simplemodal-container {
  border-color: #000;
  background-color: #ccc;
  width: 620px;
  height: auto;
  top: 50px !important;
  padding: 0;
  position: relative;
}

label.large {
  font-size: 90%
}

body .modal-header, .modal-footer {
  background-color: #ccc;
  text-align: center;
}
