/*
 *= require toggles
 *= require jquery.ui.tabs
*/

@import 'admin/globals/functions';
@import 'admin/globals/mixins';
@import 'admin/globals/variables';
@import 'plugins/font-awesome';

.order_events_iframe {
  border: none;
  width: 100%;
  height: 100%;
  min-height: 500px;
  overflow-x:hidden;
  overflow-y:scroll;
}


#endpoint_message_payload_editor {
  height: 400px;
  width: 100%;
  border: 1px solid lightgray;
}

#endpoint_message_parameters_editor {
  width: 100%;
  height: 200px;
  border: 1px solid lightgray;
}

#endpoint_message_payload, #endpoint_message_parameters {
  display: none;
}

#admin-response-body-preview, #admin-response-body-json {
  width: 100%;
  height: 300px;
  max-height: 300px;
  border: 1px solid lightgray;
}

label.large {
  font-size: 90%
}

a.add-fields {
  display: block;
  margin-top: 30px;
  text-align: center;
  font-size: 20px;
}

.admin-response-code-class-success {
  color: #9fc820;
}

.admin-response-code-class-success i {
  color: #FFF;
  background-color: #9fc820;
  font-weight: bold;
  font-style: normal;
  padding: 2px;
  margin: 1px;
}

.admin-response-code-class-client-error, .admin-response-code-class-server-error {
  color: #f57e80;
}

.admin-response-code-class-client-error i, .admin-response-code-class-server-error i {
  color: #FFF;
  background-color: #f57e80;
  font-weight: bold;
  font-style: normal;
  padding: 2px;
  margin: 1px;
}

.admin-response-code-class-other {
  color: #F3AD4E;
}

.admin-response-code-class-other i {
  color: #FFF;
  background-color: #F3AD4E;
  font-weight: bold;
  font-style: normal;
  padding: 2px;
  margin: 1px;
}
#admin-response-headers-container {
  display: none;
}

#admin-response-headers-container dt, #admin-response-headers-container dd {
  height: 32px;
  word-break: break-all;
  word-wrap: break-word;
}

/*---------------------------------------------*/
/* Integrations
/*---------------------------------------------*/

/**
  Basic
*/
#integration_main {
  b, strong {
    -webkit-font-smoothing: antialiased;
  }
}

/**
  Connected message
*/
#connected-message {
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  margin: 20px 0;
  color: lighten($color-body-text, 15);

  strong {
    color: $color-2;
  }

  .icon-stack {
    text-align: center;
    width: 80px;
    height: 80px;
    width: 100%;
  }

  i {
    &.icon-light {
      color: white;
      font-size: 40px;
      margin-top: 14px;
    }
    &.icon-circle {
      color: $color-2;
      font-size: 80px;
    }
  }
}

#active-integrations {
  margin-top: 20px;
}

/**
  Active Integrations List
*/
#integrations-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: -20px;

  /**
    Integration
  */
  .integration {
    display: inline-block;
    border: 1px solid $color-border;
    border-radius: $border-radius;
    border-bottom-width: 3px;
    padding: 10px 15px;
    margin-right: 20px;
    margin-bottom: 20px;

    &.disabled {
      figure, figcaption {
        opacity: 0.2
      }
    }

    /**
      Integration Actions
    */
    .actions {
      list-style: none;
      margin: 10px 0 5px;
      padding: 0;
      text-align: center;

      .action {
        display: inline-block;

        a {
          display: inline-block;
          margin: 0 2px;
          width: 28px;
          height: 28px;
          text-align: center;
          background-color: #EFF5FC;
          border: 1px solid #DEEBF8;
          border-radius: 15px;
          cursor: pointer;

          &:hover {
            background-color: $color-2;
            border-color: darken($color-2, 5);

            i {
              color: $color-1;
            }
          }
        }

        i {
          color: $color-body-text;
          font-size: 14px;
          padding-top: 6px;
          display: inline-block;
        }
      }
    }
  }

  /**
    Integration Toggle
  */
  .integration-toggle {
    margin: 0 auto 20px;
    width: 100px !important;
  }

  /**
    Integration Image
  */
  figure {
    text-align: center;
  }

  /**
    Integration Title
  */
  figcaption {
    text-align: center;
    text-transform: uppercase;
    color: $color-body-text;
    font-weight: 600;
    display: block;
    margin: 10px 0 20px;
  }
}

/**
  Integration Toggle
*/
.integration-toggle {
  .toggle-slide {
    width: 100px !important;
    background-color: #EFF5FC;
    border: 1px solid #DEEBF8;
    border-radius: 15px;
  }

  .toggle-on, .toggle-off {
    width: 95px !important;
    font-weight: 600;
    font-size: $body-font-size - 2;
    text-transform: uppercase;
    color: $color-body-text;
  }

  .toggle-on {
    text-indent: -90px !important;

    &.active {
      text-indent: -20px !important;
    }
  }

  .toggle-off {
    text-indent: 90px !important;

    &.active {
      margin-left: -60px !important;
      text-indent: 10px !important;
    }
  }

  .toggle-inner {
    width: 200px !important;
    margin-left: -30px !important;
  }

  .toggle-blob {
    background-color: $color-body-text;
    border-radius: 15px;
    width: 18px !important;
    height: 18px !important;
    margin-top: 1px;
    margin-left: -64px !important;
  }

  .toggle-slide.active {
    background-color: $color-2;
    border-color: darken($color-2, 5);

    .toggle-blob {
      margin-left: -17px !important;
      background-color: darken($color-2, 10);
    }
    .toggle-inner {
      margin-left: 0px !important;
    }
    .toggle-on, .toggle-off {
      color: $color-1;
    }
  }
}

/**
  Integration Tooltip
*/
#integration-tooltip {
  position: absolute;
  display: none;
  z-index: 2147483647;
  padding: 5px 15px;
  border-radius: $border-radius;
  background-color: $color-2;
  color: $color-1;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  text-align: center;

  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid $color-2;
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
  }
}

/**
  New Integration Select
*/
.new-integration-container {
  width: 217px !important;

  .select2-choice span {
    @extend .icon-plus;
    text-transform: uppercase;
    font-weight: 600;

    &:before {
      font-family: 'FontAwesome';
      display: inline-block;
      padding-right: 5px;
    }

    &.adding-integration {
      &:before {
        content: ''
      }
    }
  }

  b {
    @extend .icon-caret-down;
    font-family: 'FontAwesome';
    top: -1px;
    position: relative;
    margin-right: 10px;
  }
}

.new-integration-dropdown {
  width: 300px !important;
  margin-left: -83px;
  margin-top: -2px;
  border-top: 1px solid $color-2;

  .select2-search {
    @extend .icon-search;

    &:before {
      font-family: 'FontAwesome';
      display: inline-block;
    }
  }

  .select2-results {
    max-height: 400px;
  }

  .integration-image, .integration-name {
    display: table-cell;
    vertical-align: middle;
  }
  .integration-image {
    width: 60px;
    height: 40px;
    text-align: center;
  }
  .integration-name {
    text-transform: uppercase;
  }
  .select2-result {
    border-bottom: 1px dotted $color-border;
  }
  .select2-highlighted {
    background-color: $color-1;

    .integration-name {
      color: $color-2;
    }
  }
}

/**
  Simple Modal Styles
*/

#simplemodal-overlay {
  background-color: black
}
.simplemodal-data {
  background-color: white;
  border-radius: $border-radius;
}
.simplemodal-close {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 40px;
  cursor: pointer;

  &:hover {
    color: $color-2;
  }
}
.modal-body {
  border: 1px solid $color-border;
  border-width: 1px 0 1px 0;
}

.modal-header {
  padding: 20px 10px;

  .integration-image {
    img {
      height: 60px
    }
  }

  .integration-title, .integration-image {
    display: table-cell;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
  }
}

.integration-modal {
  &.container {
    width: auto;
    position: inherit;
  }

  label {
    display: block;
  }

  input[type="text"], input[type="url"],
  input[type="email"], input[type="password"] {
    width: 100%;
  }

  .field {
    &.description {
      p {
        font-style: italic;
        font-size: $body-font-size - 1;
        color: lighten($color-body-text, 5);
      }
    }
    &.state {
      font-size: 100%;
    }
  }

  fieldset .row {
    margin-bottom: 0;

    .icon-trash {
      font-size: 20px;
      color: $color-body-text;
      top: 33px;
      position: relative;

      &:hover {
        color: $color-error;
      }
    }
  }

  button, .button {
    -webkit-font-smoothing: antialiased;
    font-weight: 600;
    font-size: 100%;
  }

  .add-new-row {
    text-align: center;
    text-transform: uppercase;
    color: $color-2;
    font-weight: 600;
    display: block;
    margin-top: 20px;

    -webkit-font-smoothing: antialiased;

    i {
      padding-right: 5px
    }

    &:hover {
      color: darken($color-2, 5);
    }
  }
}

#modal-tabs {
  border: none;
  padding: 0;

  .ui-widget-header {
    border: none;
    background-color: transparent;
    background-image: none;
    color: $color-body-text;
  }

  .ui-state-active,
  .ui-widget-content .ui-state-active,
  .ui-widget-header .ui-state-active {
    border: none;
  }

  .ui-tabs-panel {
    border-left: 1px solid $color-border;
    border-radius: 0;
    font-family: $base-font-family;
    font-size: $body-font-size;
    background-color: transparent;
  }

  &.ui-tabs-vertical {
    .ui-tabs-nav {
      padding: 0px;
      float: left;
      width: 260px;
      margin-top: -1px;

      li {
        clear: left;
        width: 100%;
        border-width: 0 0 1px 0 !important;
        border-color :$color-border;
        border-radius: 0;
        margin: 0;
        background-color: lighten($color-border, 8);
        background-image: none;

        &:first-child {
          border-top-width: 1px !important;
        }

        a {
          display:block;
          text-transform: uppercase;
          color: $color-body-text;
          font-weight: 600;
          font-family: $base-font-family;
          font-size: $body-font-size;
          width: 100%;
          padding: 15px 20px;

          -webkit-font-smoothing: antialiased;
        }

        &.ui-state-active {
          background-color: $color-2;
          border-color: darken($color-2, 5);

          a {
            color: $color-1;
          }

          &:after {
            position: absolute;
            content: '';
            right: -20px;
            width: 0;
            height: 0;
            border-top: 24px solid transparent;
            border-left: 20px solid $color-2;
            border-bottom: 24px solid transparent;
          }
        }
      }
    }

    .ui-tabs-panel {
      float: right;
      width: 605px;
      padding: 30px;
      color: $color-body-text;
    }
  }
}

.modal-footer {
  text-align: center;
  padding: 20px 10px 30px;

  .form-actions {
    padding-top: 0;

    span.or {
      padding: 0 5px;
    }

    button {
      &:active, &:focus {
        box-shadow: none;
        outline: none;
      }
      &.save {
        background-color: $color-2;

        &:active, &:hover {
          background-color: darken($color-2, 5)
        }
      }
      &.cancel {
        background-color: $color-body-text;

        &:active, &:hover {
          background-color: darken($color-body-text, 5)
        }
      }
    }
  }
}

/**
  New Connection Wizard
*/
#new-connection-wizard {
  .disabled {
    opacity: 0.3
  }

  .field {
    text-align: center;

    label {
      font-size: 100%;
      -webkit-font-smoothing: antialiased;
      cursor: pointer;
    }

    label, .icon-stack {
      display: block;
      text-align: center;
      margin: 0 auto;
    }

    .icon-stack {
      .icon-exchange {
        font-size: 18px;
      }
      .icon-user {
        margin-left: -10px;
      }
      .icon-plus, .icon-ok {
        margin-top: 20px;
        margin-left: 10px;
      }
    }

    label[for='user-new'], label[for='user-registered'] {
      i { font-size: 85% }
    }
    label[for='user-new'] {
      i {
        color: $color-3
      }
    }
    label[for='user-registered'] {
      i {
        color: $color-2
      }
    }

    input[type="text"], input[type="email"],
    input[type="url"], input[type="password"] {
      width: 100%;
    }
  }

  .env-custom {
    label, .icon-circle, .icon-exchange {
      color: $color-3;
    }
  }
  .env-staging {
    label, .icon-circle, .icon-exchange {
      color: $color-6;
    }
  }
  .env-production {
    label, .icon-circle, .icon-exchange {
      color: $color-2;
    }
  }

  .form-actions {
    text-align: center;

    * {
      -webkit-font-smoothing: antialiased;
    }

    span.or {
      text-transform: uppercase;
      display: inline-block;
      font-weight: 600;
      padding: 0 10px;
    }

    button {
      font-size: 100%;
      min-width: 110px;
    }

    .connect {
      background-color: $color-2;
    }
    .cancel {
      background-color: $color-4;
    }
  }
}


