.order_events_iframe {
  border: none;
  width: 100%;
  height: 100%;
  min-height: 500px;
  overflow-x:hidden;
  overflow-y:scroll;
}

#endpoint_message_payload_editor {
  height: 400px;
  width: 100%;
  border: 1px solid lightgray;
}

#endpoint_message_parameters_editor {
  width: 100%;
  height: 200px;
  border: 1px solid lightgray;
}

#endpoint_message_payload, #endpoint_message_parameters {
  display: none;
}

#admin-response-body-preview, #admin-response-body-json {
  width: 100%;
  height: 300px;
  max-height: 300px;
  border: 1px solid lightgray;
}

/* Simple modal */
#simplemodal-container {
  border-color: #000;
  background-color: #ccc;
  width: 620px;
  height: auto;
  top: 50px !important;
  padding: 0;
  position: relative;
}

label.large {
  font-size: 90%
}

body .modal-header, .modal-footer {
  background-color: #ccc;
  text-align: center;
}

.admin-response-code-class-success {
  color: #9fc820;
}

.admin-response-code-class-success i {
  color: #FFF;
  background-color: #9fc820;
  font-weight: bold;
  font-style: normal;
  padding: 2px;
  margin: 1px;
}

.admin-response-code-class-client-error, .admin-response-code-class-server-error {
  color: #f57e80;
}

.admin-response-code-class-client-error i, .admin-response-code-class-server-error i {
  color: #FFF;
  background-color: #f57e80;
  font-weight: bold;
  font-style: normal;
  padding: 2px;
  margin: 1px;
}

.admin-response-code-class-other {
  color: #FFF4E5;
}

.admin-response-code-class-other i {
  color: #FFF;
  background-color: #FFF4E5;
  font-weight: bold;
  font-style: normal;
  padding: 2px;
  margin: 1px;
}
#admin-response-headers-container {
  display: none;
}

#admin-response-headers-container dt, #admin-response-headers-container dd {
  height: 32px;
  word-break: break-all;
  word-wrap: break-word;
}
