/*
 *= require toggles
*/

@import 'admin/globals/functions';
@import 'admin/globals/mixins';
@import 'admin/globals/variables';
@import 'font-awesome';

.order_events_iframe {
  border: none;
  width: 100%;
  height: 100%;
  min-height: 500px;
  overflow-x:hidden;
  overflow-y:scroll;
}


#endpoint_message_payload_editor {
  height: 400px;
  width: 100%;
  border: 1px solid lightgray;
}

#endpoint_message_parameters_editor {
  width: 100%;
  height: 200px;
  border: 1px solid lightgray;
}

#endpoint_message_payload, #endpoint_message_parameters {
  display: none;
}

#admin-response-body-preview, #admin-response-body-json {
  width: 100%;
  height: 300px;
  max-height: 300px;
  border: 1px solid lightgray;
}

label.large {
  font-size: 90%
}

a.add-fields {
  display: block;
  margin-top: 30px;
  text-align: center;
  font-size: 20px;
}

.admin-response-code-class-success {
  color: #9fc820;
}

.admin-response-code-class-success i {
  color: #FFF;
  background-color: #9fc820;
  font-weight: bold;
  font-style: normal;
  padding: 2px;
  margin: 1px;
}

.admin-response-code-class-client-error, .admin-response-code-class-server-error {
  color: #f57e80;
}

.admin-response-code-class-client-error i, .admin-response-code-class-server-error i {
  color: #FFF;
  background-color: #f57e80;
  font-weight: bold;
  font-style: normal;
  padding: 2px;
  margin: 1px;
}

.admin-response-code-class-other {
  color: #F3AD4E;
}

.admin-response-code-class-other i {
  color: #FFF;
  background-color: #F3AD4E;
  font-weight: bold;
  font-style: normal;
  padding: 2px;
  margin: 1px;
}
#admin-response-headers-container {
  display: none;
}

#admin-response-headers-container dt, #admin-response-headers-container dd {
  height: 32px;
  word-break: break-all;
  word-wrap: break-word;
}

/*---------------------------------------------*/
/* Integrations
/*---------------------------------------------*/

/**
  Basic
*/
#integration_main {
  b, strong {
    -webkit-font-smoothing: antialiased;
  }
}

/**
  Connected message
*/
#connected-message {
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  margin: 20px 0;
  color: lighten($color-body-text, 15);

  strong {
    color: $color-2;
  }

  .icon-stack {
    text-align: center;
    width: 80px;
    height: 80px;
    width: 100%;
  }

  i {
    &.icon-light {
      color: white;
      font-size: 40px;
      margin-top: 14px;
    }
    &.icon-circle {
      color: $color-2;
      font-size: 80px;
    }
  }
}

#active-integrations {
  margin-top: 20px;
}

/**
  Active Integrations List
*/
#integrations-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: -20px;

  /**
    Integration
  */
  .integration {
    display: inline-block;
    border: 1px solid $color-border;
    border-radius: $border-radius;
    border-bottom-width: 3px;
    padding: 10px 15px;
    margin-right: 20px;
    margin-bottom: 20px;

    &.disabled {
      figure, figcaption {
        opacity: 0.2
      }
    }

    /**
      Integration Actions
    */
    .actions {
      list-style: none;
      margin: 10px 0 5px;
      padding: 0;
      text-align: center;

      .action {
        display: inline-block;

        a {
          display: inline-block;
          margin: 0 2px;
          width: 28px;
          height: 28px;
          text-align: center;
          background-color: #EFF5FC;
          border: 1px solid #DEEBF8;
          border-radius: 15px;
          cursor: pointer;

          &:hover {
            background-color: $color-2;
            border-color: darken($color-2, 5);

            i {
              color: $color-1;
            }
          }
        }

        i {
          color: $color-body-text;
          font-size: 14px;
          padding-top: 6px;
          display: inline-block;
        }
      }
    }
  }

  /**
    Integration Image
  */
  figure {
    text-align: center;
  }

  /**
    Integration Title
  */
  figcaption {
    text-align: center;
    text-transform: uppercase;
    color: $color-body-text;
    font-weight: 600;
    display: block;
    margin: 10px 0 20px;
  }

  /**
    Integration Toggle
  */
  .integration-toggle {
    margin: 0 auto 20px;
    width: 100px !important;

    .toggle-slide {
      width: 100px !important;
      background-color: #EFF5FC;
      border: 1px solid #DEEBF8;
      border-radius: 15px;
    }

    .toggle-on, .toggle-off {
      width: 95px !important;
      font-weight: 600;
      font-size: $body-font-size - 2;
      text-transform: uppercase;
      color: $color-body-text;
    }

    .toggle-on {
      text-indent: -90px !important;

      &.active {
        text-indent: -20px !important;
      }
    }

    .toggle-off {
      text-indent: 90px !important;

      &.active {
        margin-left: -60px !important;
        text-indent: 10px !important;
      }
    }

    .toggle-inner {
      width: 200px !important;
      margin-left: -30px !important;
    }

    .toggle-blob {
      background-color: $color-body-text;
      border-radius: 15px;
      width: 18px !important;
      height: 18px !important;
      margin-top: 1px;
      margin-left: -64px !important;
    }

    .toggle-slide.active {
      background-color: $color-2;
      border-color: darken($color-2, 5);

      .toggle-blob {
        margin-left: -17px !important;
        background-color: darken($color-2, 10);
      }
      .toggle-inner {
        margin-left: 0px !important;
      }
      .toggle-on, .toggle-off {
        color: $color-1;
      }
    }
  }
}

/**
  Integration Tooltip
*/
#integration-tooltip {
  position: absolute;
  display: none;
  z-index: 2147483647;
  padding: 5px 15px;
  border-radius: $border-radius;
  background-color: $color-2;
  color: $color-1;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  text-align: center;

  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid $color-2;
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
  }
}

/**
  New Integration Select
*/
.new-integration-container {
  width: 217px !important;

  .select2-choice span {
    @extend .icon-plus;
    text-transform: uppercase;
    font-weight: 600;

    &:before {
      font-family: 'FontAwesome';
      display: inline-block;
      padding-right: 5px;
    }

    &.adding-integration {
      &:before {
        content: ''
      }
    }
  }

  b {
    @extend .icon-caret-down;
    font-family: 'FontAwesome';
    top: -1px;
    position: relative;
    margin-right: 10px;
  }
}

.new-integration-dropdown {
  width: 300px !important;
  margin-left: -83px;
  margin-top: -2px;
  border-top: 1px solid $color-2;

  .select2-search {
    @extend .icon-search;

    &:before {
      font-family: 'FontAwesome';
      display: inline-block;
    }
  }

  .select2-results {
    max-height: 400px;
  }

  .integration-image, .integration-name {
    display: table-cell;
    vertical-align: middle;
  }
  .integration-image {
    width: 60px;
    height: 40px;
    text-align: center;
  }
  .integration-name {
    text-transform: uppercase;
  }
  .select2-result {
    border-bottom: 1px dotted $color-border;
  }
  .select2-highlighted {
    background-color: $color-1;

    .integration-name {
      color: $color-2;
    }
  }
}

/**/

#simplemodal-overlay {
  background-color: black
}
#simplemodal-data {
  padding: 30px;
  background-color: white;
  border-radius: $border-radius;
}
.simplemodal-close {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 40px;
  cursor: pointer;

  &:hover {
    color: $color-2;
  }
}
