<% content_for :page_title do %>
  <%= Spree.t(:integration) %>
<% end %>

<%= render partial: 'spree/admin/shared/integration_menu' %>

<% if Spree::Config[:store_id].empty? %>
  <div class="row">
    <p>This store is not registered with the Integrator.</p>
    <%= button_link_to Spree.t(:register), admin_integration_register_path, :icon => 'icon-pencil' %>
  </div>
<% else %>
  <div id="integration_main" class="row">
    <!-- Backbone app renders here -->
  </div>
  <script type="text/javascript">
    $(function() {
      return Augury.init();
    });
  </script>
<% end %>
