<% content_for :sidebar_title do %>
  <%= Spree.t(:integration) %>
<% end %>

<% content_for :sidebar do %>
  <nav class="menu" id="integration-menu">
    <ul class="sidebar">
      <li class="overview"><a href="/admin/integration">Overview</a></li>
      <li class="integrations"><a href="/admin/integration/integrations">Integrations</a></li>
      <li class="advanced">
        <a href="#" class='collapse'><i class="icon-caret-right"></i> Advanced</a>
        <ul class="sub-menu">
          <li class="registrations"><a href="/admin/integration/registrations">Registrations</a></li>
          <li class="schedulers"><a href="/admin/integration/schedulers">Schedulers</a></li>
          <li class="parameters"><a href="/admin/integration/parameters">Parameters</a></li>
          <li class="connections"><a href="/admin/integration/connections">Connections</a></li>
          <li class="testing"><a href="/admin/endpoint_testing">Testing</a></li>
        </ul>
      </li>
    </ul>
  </nav>
<% end %>

<script>
  $(function(){
    $('#integration-menu').find('.collapse').click(function(e){
      e.preventDefault();
      if($(this).find('.icon-caret-right').length > 0){
        $(this).find('.icon-caret-right').removeClass('icon-caret-right').addClass('icon-caret-down');
      }
      else {
        $(this).find('.icon-caret-down').removeClass('icon-caret-down').addClass('icon-caret-right');
      }
      $(this).next().toggle('fast');
    })
  });
</script>
