---
http_interactions:
- request:
    method: get
    uri: http://augury.dev/api/stores/store/mappings
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Augury-Token:
      - token
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"be318e475e7c5b8b1eeeca242427cf63"'
    body:
      encoding: US-ASCII
      string: ! '[{"id":"store","name":"foooooo","url":"http://google.com","integration_id":null,"event_key":{"foo":"bar"},"event_details":{"big":"bird"},"formatted_filters":[{"path":"order.amount","operator":"eq","value":"123"}],"options":{"retries_allowed":false},"messages":["spree:order:import"],"parameters":null,"token":"123"}]'
  recorded_at: Thu, 13 Jun 2013 15:48:21 GMT
recorded_with: VCR 2.5.0
