---
http_interactions:
- request:
    method: get
    uri: http://augury.dev/api/integrations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Augury-Token:
      - token
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"2879238233585986053f2f4cc4adc3cf"'
    body:
      encoding: US-ASCII
      string: ! '[{"id":"store","name":"Mandrill","url":"http://mandrill-stg.spree.mx","category":null,"consumers":null},{"id":"51b8b6e684a816656d000003","name":"Quickbooks","url":"http://quickbooks-stg.spree.mx","category":null,"consumers":null}]'
  recorded_at: Thu, 13 Jun 2013 15:48:21 GMT
recorded_with: VCR 2.5.0
